/* Reseteamos margenes */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Todo con el elemento raíz */
:root{
    height:100%;
    --color-menta:rgba(30, 240, 191, 0.5);
    --color-menta-claro: rgba(30, 240, 191, 0.1);
    --color-verde: rgb(13, 117, 149);
    --color-fuente: #5e5e5e;
    --color-blanco: rgb(255,255,255);
}

/* Hijos del body para diferenciarlos en la estructura */
body{
    background-color: var(--color-blanco);
    text-align: center;
    font-family: sans-serif;
}
/* GENERAL */

h1, h2, h3{
    font-weight: lighter;
    margin-bottom: 0.1em;
    color: var(--color-verde);
    display: block;
}
h1{
    font-size: 28px;
    text-transform: uppercase;
}
h2{
    font-size: 22px;
}
p{
    color: var(--color-fuente);
    font-size: 14px;
    margin: 0.4em;
}
a{
    text-decoration: none;
}


/******************* HEADER *******************/
/**********************************************/

header{
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10; 
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: var(--color-menta);
    padding-right: 10%;
}
.logo{        
    margin-left: -25%;
}
.logo img{
    width: 100%;
    height: 100%;
}

/***** SESION *****/
.sesiones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sesiones a{
    display: block;
    padding: 0.1em;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-verde);
    cursor: pointer;
}
.desplegableSesion{
    background-color: var(--color-menta);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    /*display: flex;*/
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.desplegableSesion>*{
    position: absolute;
}
.sesion{
    /*display: flex;*/
    display: none;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    top: 50px;
    right: 0;
    left: 0;
}
input{
    width: 200px;
    line-height: 20px;
}
.registro{
    display: flex;
    display: none;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    top: 50px;
    right: 0;
    left: 0;
}
.cierreSesion{
    top: 0;
    right: 20%;
    cursor: pointer;
}
.entrar, .registrarse{
    background-color: var(--color-blanco);
    border-radius: 50%;
    padding: 1em;
    margin: 1em;
}
.entrar:hover, .registrarse:hover{
    transform: scale(1.2);
    background-color: var(--color-verde);
    color: var(--color-blanco);
}


/*********** NAV  **********
***************************/
.barra_menu {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 35px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid;
}
.barra_menu::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 2px;
    background: currentColor;
    border-radius: 3px;
    top: 8px;
    left: 5px;
    box-shadow: 0 4px 0, 0 8px 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    right: 0;
}
.nav-menu{
    display: flex;
    list-style: none;
    flex-direction: column;
    position: fixed;
    top: 50px;
    width: 100%;
    left: 0;
    transition: left 0.3s;
}
.nav-menu-item{  
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    width: 100%;
}
    
.nav-menu-link{
    color: var(--color-verde);
    display: block;
    padding: 0 15px;
    text-decoration: none;
    text-align: left;
}
.nav-menu-link:hover{
    background-color: var(--color-menta);
    transition: 0.5s;
    color: var(--color-blanco);  
}
.nav-toggle{
    display: block;
	color: var(--color-verde);
	background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.nav-menu_visible{
    left: 100%;
}



/********************** MAIN ***************/
/*******************************************/

main{
    grid-area: main;
}
main > *{
    padding: 0;  
}

/****** TRABAJO ******/
.trabajo{
    padding: 0.5em;
}
.domicilio{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    gap: 1em;
}
.trabajando{
    width: 100%;
    padding: 0.5em;
    height: 100%;
}
.trabajando img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cita{
    width: 100%;
    padding: 0.5em;
    text-align: justify;
}
.cita h2{
    margin-bottom: 0.5em;
}
.cita p{
    margin: 0.5em 0;
}


/******* COVID ********/
.covid{
    padding: 0.5em;
    background-color: var(--color-menta-claro);
}
.covid a{
    color: var(--color-verde);
    cursor: pointer;
}
.desplegableCovid{
    display: none;
    background-color: var(--color-menta-claro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em;
}
.cierreCovid{
    cursor: pointer;
    position: absolute;
    right: 5%;
}



/******* SERVICIOS *******/
.servicios{
    padding: 0.5em;
}
.caja{
    display: inline-block;
    margin: 0.5em;
    background-color: transparent;
    width: calc(100vh/4);
    height: 160px;
    perspective: 1000px; /* Efecto 3D */
}

/* Este contenedor es necesario para la posición de delante y detrás */
.individual{
    border: 1px solid var(--color-verde);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
/* Cambia horizontal con el hoover por encima */
.caja:hover .individual{
    transform: rotateY(180deg);
}
.delante img{
    width: 100%;
    height: 100%;
}
  
/* Posicion delante y detrás */
.delante, .detras{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
/* Estilo delante si se pierde la imagen */
.delante{
    background-color: var(--color-menta-claro);
    color: black;
}
  
/* Estilo detras */
.detras{
    background-color: rgb(250, 250, 250);
    width: 100%;
    transform: rotateY(180deg);
    text-align: center;
}
.detras h2{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 0.5em 0;
    background: -prefix-linear-gradient(left, #97DEDA, #50C9C4);
    background: linear-gradient(to right, #97DEDA, #50C9C4);
}
.detras p{
    padding: 0.1em;
    font-size: 12px;
}

/****** TARIFAS *********/
.tarifas{
    background-color: var(--color-menta-claro);
    padding: 1em 0;
}
.tarifas h1{
    text-align: center;
}
.tarifas_caja{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta{
    border: 1px solid var(--color-verde);
    border-radius: 6px;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0.5em;
    background-color: var(--color-blanco);
}
.tarjeta_img{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.tarjeta_img img{
    width: 120px;
    height: 100px;
}
.tarjeta_info{
    padding: 0.5em;  
}
button{
    background-color: var(--color-menta);
    color: var(--color-verde);
    border-radius: 50%;
    padding: 0.5em;
    margin: 0.5em;
}
span{
    font-weight: lighter;
    color: var(--color-verde);
}

.pedir_cita{
  text-decoration: none;
  background-color: var(--color-blanco);
  color: var(--color-verde);
  border: 1px solid var(--color-verde);
  border-radius: 90%;
  padding: 20px 0;
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.pedir_cita:hover{
  color: var(--color-blanco);
  background-color: var(--color-menta);
}

/* CONTACTO */

.contacto{
    padding: 1em;
}
.contacto img{
    width: 35px;
    height: 31px;
    margin-top: 0.5em;
}
















/**************** FOOTER **
/**************************/
footer{
    background-color: var(--color-menta);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: var(--color-verde);  
}




/* Estructura con grid */
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
body{
    display: grid;
    min-height: 100%;
    grid-template:
    "header" 50px
    "main" auto
    "footer" 50px
}

/* Móviles */
@media (min-width:576px){
    /* TRABAJO */
    .domicilio{
        grid-template-rows: 250px;
    }
    .cita h2{
        margin-bottom: 0.5em;
    }
    .cita p{
        margin: 0.5em 0;
    }
    .logo{        
        margin-left: -25%;
    }
}
/* Tablets */
@media (min-width:768px){
    /* TRABAJO */
    .domicilio{
        grid-template-rows: 300px;
    }
    .cita h2{
        margin-bottom: 1em;
        font-size: 24px;
    }
    .cita p{
        margin: 1em 0;
        font-size: 18px;
    }
    .logo{        
        margin-left: -30%;
    }
    .caja{
        width: calc(100%/5);
    }

}
/* Pantallas ordenador */
@media (min-width:992px){
    body{
        display: grid;
        min-height: 100%;
        grid-template:
        "header" 50px
        "main" auto
        "footer" 50px
    }

    /************** HEADER **************/
    header{
        justify-content: flex-start;
    }
    .logo{        
        margin: 0 16% 0 2%;
    }
    .nav{
        display: flex;
        justify-content:space-between;
        position: relative;
    }
    .nav-menu{
        flex-direction: row;
        top: 0;
        left: 50%;
    }
    .nav-menu-item{
        font-size: 15px;
        text-transform: uppercase;
        width: max-content;
    }
    .nav-menu-link{
        padding: 0 0.5em;
    }
    .nav-toggle{
        display: none;
    }
    .caja{
        height: 220px;
    }
    .caja .detras p{
        font-size: 14px;
        padding: 0.5em;
    }
}
/* Pantallas más grandes */
@media (min-width:1200px){
    
    /************** HEADER **************/
    .logo{        
        margin: 0 22% 0 2%;
    }
    .nav-menu{
        left: 55%;
    }

}
@media (min-width:1670px){
    .logo{        
        margin: 0 30% 0 2%;
    }
    .nav-menu{
        left: 70%;
    }
}