/** Estilos particulares de la sesion iniciada USUARIO */
.usuario{
    flex-direction: row;
    gap: 15px;
    align-items: center;
    text-align: left;
}
.cerrar{
    font-size: 12px;
    text-align: center;
}

/**** PEDIR CITA ****/

#cita{
    margin: 1em 0;
}
.citas{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.citas h1{
    display: block;
    text-align: center;
    justify-content: center;
}
.fisio {
    border: 1px solid var(--color-verde);
    border-radius: 6px;
    max-width: 350px;
    text-align: center;
    margin-top: 60px;
}
.fisio_img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: -60px auto 0;
}
.fisio_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fisio_info {
    padding-bottom: 20px;
}

/*** CALENDARIO **/
.calendario{
    background-color: var(--color-menta-claro);
    display: none;
    margin: 1em 1em 0 1em;
}
.semana_titulo{
    padding: 0.5em 0;
    font-weight: bold;
}
.calendario h3{
    padding: 0.5em;
}
ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--color-verde);
}
.dia{
    background-color: var(--color-menta-claro);
    font-weight: bold;
    padding: 0.5em 0;
}
.num{
    padding: 0.5em 0;
    background-color: var(--color-menta-claro);
    cursor: pointer;
}
.num:hover{
    transform: scale(1.14) rotate(8deg);
    background-color: var(--color-blanco);
}
.cierreCale{
    color: var(--color-verde);
    cursor: pointer;
    position: absolute;
    right: 5%;
}

/**** HORARIO ****/
.horario{
    background-color: var(--color-menta-claro);
    margin: 0 1em;
/*display: none;*/
}
.horas_titulo{
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
}

.horario div form{
    display: flex;
    justify-content: center;
    color: var(--color-verde);
    background-color: var(--color-menta-claro);
    padding: 1em 1em 2em 1em;
    margin-bottom: 1em;
    position: relative;
}
.enviar{
    position: absolute;
    border: none;
    bottom: 0.5em;
    color: var(--color-blanco);
    background-color: var(--color-verde);
}

input[type=radio]{
    filter: sepia();
    margin: 0;
    width: 7em;
    opacity: 1;
}
/*
#pepita{
    position: relative;
}
.seleccionL{
    position: absolute;
    visibility:visible;
}*/
.lun, .mar, .mier, .jue, .vie{
    display: none;
}

/**** MIS CITAS ****/

.mostrar{
    margin-top: 2em;
    background-color: var(--color-menta-claro);
    min-height: 200px;
    padding: 0.5em;
}
.mostrar_cita{
    display: grid;
    grid-template-columns: 2em 2fr 1fr 2em;
    grid-template-rows: 3em;
    text-align: left;
}
.mostrar_citas{
    background-color: var(--color-menta-claro);
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0.5em;
}
.mostrar_citas p{
    color: var(--color-verde);
    font-weight: bold;
}
.gestion{
    background-color: var(--color-menta-claro);
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: right;
    align-items: center;
}
.gestion a{
    margin: 0.5em;
    border-radius: 50%;
    background-color: var(--color-blanco);
    padding: .5em;
    cursor: pointer;
    color: var(--color-verde);

}
.gestion a:hover{
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

/**** MIS INFORMES ****/
.informes{
    margin: 2em 0 0 0;
    min-height: 200px;
    padding: 0.5em;
    background-color: var(--color-menta-claro);
    overflow: hidden;
}
.mostrar_informe{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.mostrar_informes{
    background-color: var(--color-menta-claro);
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.gestion_informes{
    background-color: var(--color-menta-claro);
    padding: 0.75em;
    cursor: pointer;
    border-radius: 50%;
}
.gestion_informes:hover{
    background-color: var(--color-blanco);
}

/* simbolo informe  */
.doc{
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 18px;
    border: 2px solid transparent;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 2px var(--color-verde);
    border-radius: 1px;
    border-top-right-radius: 4px;
    overflow: hidden;
}
.doc::after,
.doc::before{
    content: "";
    display: block;
    position: absolute;
}
.doc::before{
    background: var(--color-verde);
    box-shadow:
        0 4px 0 var(--color-verde),
        -6px -4px 0 var(--color-verde);
    left: 0;
    width: 10px;
    height: 2px;
    top: 8px;
}
.doc::after{
    width: 6px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    right: -1px;
    top: -1px;
    color: var(--color-verde);
}

.info_muestra{
    max-height: 600px;
    overflow-y: scroll;
    display: none;
}
.info{
    width: 100%;
    height: 100%;
}
.cierreInfo{
    color: var(--color-verde);
    cursor: pointer;
    position: absolute;
    right: 5%;
}
.inf{
    color: var(--color-verde);
}


/* Móviles */
@media (max-width:576px){
.finde{
    display: none;
}
ol{
    grid-template-columns: repeat(5, 1fr);
}
}
/* Tablets */
@media (max-width:768px){

}